.cartContainer {
  width: 450px;
  max-height: max-content;
  padding: 20px 20px;
  background-color: white;
  top: 100%;
  right: 1%;
  position: absolute;
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 60;
  animation: show 0.4s ease;
}
.cartContainer > div > p {
  color: #677279;
}
.site_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 55;
}
.inputContainer {
  min-width: 298px;
}
.label_inputActive {
  font-size: 10px;
  margin-top: -10px;
}
@keyframes show {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    margin-top: 15px;
    opacity: 1;
  }
}
.arrow {
  top: 0px;
  margin-top: -7px;
  box-shadow: rgba(147, 147, 147, 0.104) -3px -3px 2px;
}
@media (max-width: 990px) {
  .user {
    margin: 0px !important;
  }
  .userIcon {
    padding-left: 0px;
  }
  .headerText {
    display: none;
  }
  .cartContainer {
    left: 0;
    right: 0;
    top: 75px;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    position: fixed;
    padding-top: 50px;
    box-shadow: none;
    overflow-y: auto;
    margin-top: 15px;
    overflow-x: hidden;
  }
  .cartContainer::-webkit-scrollbar {
    width: 4px;
  }
  .cartContainer::-webkit-scrollbar-thumb {
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38 / var(--tw-bg-opacity));
    border-radius: 5px;
  }
  .arrow {
    display: none;
  }
  .backBtn {
    display: block;
    top: 15px;
    right: 20px;
  }
}
.imgContainer {
  width: 75px;
  height: 95px;
  max-height: 95px;
  position: relative;
}
.imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detailContainer {
  flex: 1;
  padding: 0px 15px;
}
.cartContentContainer {
  max-height: 450px;
  overflow-y: scroll;
}
.cartContentContainer::-webkit-scrollbar {
  display: none;
}
.cartContentContainer > p:hover {
  color: red !important;
  cursor: pointer;
}
