<h1 class="w-full text-center mb-4 pt-10 font-medium text-2xl">Đăng nhập</h1>
<div class="w-14 h-1 bg-black/60 mx-auto"></div>

<div class="loginPageContainer">
  <div *ngIf="status" class="mx-auto text-red-500 break-words">
    <h1>*{{ status }}</h1>
  </div>

  <div
    class="p-5 mx-auto mt-5 mb-1 border border-black/10 rounded-sm bg-neutral-300/30 focus-within:bg-white"
  >
    <input
      class="w-full outline-none border-none bg-transparent"
      autofocus
      [maxLength]="50"
      [(ngModel)]="userName"
      placeholder="Email"
    />
  </div>

  <div
    class="p-5 mx-auto my-5 border border-black/10 rounded-sm bg-neutral-300/40 focus-within:bg-white"
  >
    <input
      class="w-full outline-none border-none bg-transparent"
      [maxLength]="50"
      [(ngModel)]="password"
      type="password"
      placeholder="Mật khẩu"
    />
  </div>

  <p class="text-neutral-600/70 mx-auto text-medium-xs">
    This site is protected by reCAPTCHA and the Google
    <a
      class="text-sky-600"
      target="_blank"
      href="https://policies.google.com/privacy"
      >Privacy Policy</a
    >
    and
    <a
      class="text-sky-600"
      target="_blank"
      href="https://policies.google.com/terms"
      >Terms of Service</a
    >
    apply.
  </p>
  <div class="mx-auto flex justify-center mt-5">
    <h1
      class="py-3 px-5 bg-black text-white uppercase inline-block rounded-sm hover:cursor-pointer hover:text-red-500 duration-300"
      (click)="loginHandle()"
    >
      Đăng nhập
    </h1>
  </div>
  <div
    class="mx-auto mt-5 flex items-center text-black/70 text-sm duration-300"
  >
    <p class="ml-2">
      Khách hàng mới?
      <a routerLink="/account/register"
        ><span
          class="text-red-500 hover:cursor-pointer hover:text-red-600 duration-300"
          >Đăng ký tài khoản?</span
        ></a
      >
    </p>
  </div>
  <div
    class="mx-auto mt-1 flex items-center text-black/70 text-sm duration-300"
  >
    <p class="ml-2">
      Quên mật khẩu?
      <a routerLink="/account/resetpassword"
        ><span
          class="text-red-500 hover:cursor-pointer hover:text-red-600 duration-300"
          >Khôi phục mật khẩu</span
        ></a
      >
    </p>
  </div>
  <div
    class="mx-auto mt-5 flex items-center text-red-500 text-sm hover:text-red-600 duration-300"
  >
    <fa-icon [icon]="icon.faAngleDoubleLeft"></fa-icon>
    <a routerLink="/"
      ><p class="hover:cursor-pointer ml-2">Quay lại trang chủ</p></a
    >
  </div>
</div>
