<h1 class="w-full text-center mb-4 pt-10 font-medium text-2xl">
  Đăng ký tài khoản
</h1>
<div class="w-14 h-1 bg-black/60 mx-auto"></div>

<div class="registerPageContainer">
  <div *ngIf="status" class="mx-auto text-red-500 break-words">
    <h1>*{{ status }}</h1>
  </div>
  <div
    class="p-5 mx-auto my-5 border border-black/10 rounded-sm bg-neutral-300/30 focus-within:bg-white"
  >
    <input
      class="w-full outline-none border-none bg-transparent"
      [(ngModel)]="name"
      [maxLength]="50"
      placeholder="Họ tên"
    />
  </div>
  <div
    class="p-5 mx-auto mt-5 mb-1 border border-black/10 rounded-sm bg-neutral-300/30 focus-within:bg-white"
  >
    <input
      class="w-full outline-none border-none bg-transparent"
      [maxLength]="50"
      [(ngModel)]="email"
      placeholder="Email"
    />
  </div>
  <p class="text-red-600/50 mx-auto text-medium-xs mb-5">
    *Lưu ý: Vui lòng cung cấp Email chính xác để sử dụng chức năng quên mật
    khẩu!
  </p>
  <div
    class="p-5 mx-auto my-5 border border-black/10 rounded-sm bg-neutral-300/40 focus-within:bg-white"
  >
    <input
      class="w-full outline-none border-none bg-transparent"
      [maxLength]="200"
      [(ngModel)]="location"
      placeholder="Địa chỉ"
    />
  </div>
  <div
    class="p-5 mx-auto my-5 border border-black/10 rounded-sm bg-neutral-300/40 focus-within:bg-white"
  >
    <input
      class="w-full outline-none border-none bg-transparent"
      [maxLength]="50"
      [(ngModel)]="phone"
      placeholder="Số điện thoại"
    />
  </div>
  <div
    class="p-5 mx-auto mt-5 mb-1 border border-black/10 rounded-sm bg-neutral-300/40 focus-within:bg-white"
  >
    <input
      class="w-full outline-none border-none bg-transparent"
      [maxLength]="50"
      [(ngModel)]="password"
      type="password"
      placeholder="Mật khẩu"
    />
  </div>
  <p class="text-red-700/50 mx-auto text-medium-xs mb-5">
    *Mật khẩu phải có độ dài tối thiểu 8 ký tự, bao gồm số, chữ và 1 ký tự đặc
    biệt.
  </p>
  <p class="text-neutral-600/70 mx-auto text-medium-xs">
    This site is protected by reCAPTCHA and the Google
    <a
      class="text-sky-600"
      target="_blank"
      href="https://policies.google.com/privacy"
      >Privacy Policy</a
    >
    and
    <a
      class="text-sky-600"
      target="_blank"
      href="https://policies.google.com/terms"
      >Terms of Service</a
    >
    apply.
  </p>
  <div class="mx-auto flex justify-center mt-5">
    <h1
      class="py-3 px-5 bg-black text-white uppercase inline-block rounded-sm hover:cursor-pointer hover:text-red-500 duration-300"
      (click)="registerHandle()"
    >
      Đăng ký
    </h1>
  </div>
  <div
    class="mx-auto mt-5 flex items-center text-red-500 text-sm hover:text-red-600 duration-300"
  >
    <a routerLink="/account/login"
      ><p class="hover:cursor-pointer ml-2">Đăng nhập</p></a
    >
  </div>
  <div
    class="mx-auto mt-1 flex items-center text-red-500 text-sm hover:text-red-600 duration-300"
  >
    <a routerLink="/account/resetpassword"
      ><p class="hover:cursor-pointer ml-2">Quên mật khẩu?</p></a
    >
  </div>
  <div
    class="mx-auto mt-5 flex items-center text-red-500 text-sm hover:text-red-600 duration-300"
  >
    <fa-icon [icon]="icon.faAngleDoubleLeft"></fa-icon>
    <a routerLink="/"
      ><p class="hover:cursor-pointer ml-2">Quay lại trang chủ</p></a
    >
  </div>
</div>
