.resetPwPageContainer {
  width: 96%;
  margin: 30px auto 50px auto;
}
.resetPwPageContainer > div,
.resetPwPageContainer > p {
  width: 95%;
}
@media (min-width: 768px) {
  .resetPwPageContainer {
    width: 750px;
  }
  .resetPwPageContainer > div,
  .resetPwPageContainer > p {
    width: 500px;
  }
}
@media (min-width: 992px) {
  .resetPwPageContainer {
    width: 970px;
  }
}
@media (min-width: 1170px) {
  .resetPwPageContainer {
    width: 1170px;
  }
}
