.currentFilterContainer {
  width: 95%;
  background-color: white;
  margin: 0px auto 20px auto;
}
@media (min-width: 768px) {
  .currentFilterContainer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .currentFilterContainer {
    width: 970px;
  }
}
@media (min-width: 1170px) {
  .currentFilterContainer {
    width: 1170px;
  }
}
